/*Custom application style*/

.souschef-tag {
    margin: 0.3em;
    font-weight: bold;
    background-image:
        linear-gradient(
            to bottom,
            alpha(@accent_color_300, 0.1),
            alpha(@accent_color_500, 0.1)
        );
}
